
body, html{
    margin-left: 5px;
    margin-right: 5px;
}
h1{
     font-family: 'Yeon Sung', cursive;
    text-align: center;
    font-size: 2em;
    background-color: bisque;
    margin-top:20px;
    margin-bottom:20px;

 }

h2{
    color: red;
    background-color: azure;
    font-style: italic;
    margin-bottom:10px;


}
h2#logo{
    margin-top:0px;
    margin-bottom: 0px;
}

body{
    background-image: url(../images/background-10.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p{
    font-size: 16px;
    font-family: "Ariel", "Helvetica", sans-serif;
}

div#img1{
    text-align: center;
    padding-top: 20px;

}

div.details{
    background-color: darkgoldenrod;
     margin-top: 20px;
     margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

div#contact{
    font-style: italic;
    font-family:sans-serif;
        font-size:14px;
    color:red;
}

a{
    color: blue;
    text-decoration:none;
    border: 3px solid blue;
    padding: 3px;
        }

td#search{
    text-align: right;


}
table{
    background-color: azure;


}

